body{
  background-color: #262BB8;
  font-family: "Ribeye";
  color: white
}

.logo{
  margin-top: 4px;
  margin-left: 4px;
}

.nav{
  display: flex;
  justify-content: space-between;
}

.quiz  {
  display: flex;
}

.article{
  display: flex;
}

.navMenu{
  padding-top: 45px;
  padding-right: 15px;
  cursor: pointer;
}

.bandeau {
  
  height: 170px;
  background-color: #21215a;
  width: 100%;
}

.connexion{
  width: 10%;
  display: flex;
  justify-content: space-around;
}

.login {
  width: auto;
  height: 35px;
}

.register {
  width: auto;
  height: 35px;
}

/*.city {
  width: 100%;
  height: auto;
}*/
.city {
  width: 100%;
  height: auto;
  background-image: url("./images/fond.svg")
}
.body-pa{
  height: 700px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.touriste {
  display: flex;
  align-items: center;
  height: 600px;
  width: auto;
}